<a href="https://colab.research.google.com/github/alicepjkwon/python/blob/main/1015_lottoAPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
from tqdm import tqdm
import json

In [17]:
url = 'https://www.dhlottery.co.kr/common.do?method=getLottoNumber&drwNo=932'
res = requests.get(url)
lotto_json = res.json()
keys = lotto_json.keys()
keys

dict_keys(['totSellamnt', 'returnValue', 'drwNoDate', 'firstWinamnt', 'drwtNo6', 'drwtNo4', 'firstPrzwnerCo', 'drwtNo5', 'bnusNo', 'firstAccumamnt', 'drwNo', 'drwtNo2', 'drwtNo3', 'drwtNo1'])

In [12]:
def getLotto (start, stop):
    drwtNo1 = []
    drwtNo2 = []
    drwtNo3 = []
    drwtNo4 = []
    drwtNo5 = []
    drwtNo6 = []
    bnusNo = []
    totSellamnt = []
    drwNoDate = []
    firstAccumamnt = []
    firstPrzwnerCo = []
    firstWinamnt = []

    for i in tqdm(range(start, stop+1, 1)):
        url = 'https://www.dhlottery.co.kr/common.do?method=getLottoNumber&drwNo=' + str(i)
        res = requests.get(url)
        lotto_json = res.json()
        
        drwtNo1.append(lotto_json['drwtNo1'])
        drwtNo2.append(lotto_json['drwtNo2'])
        drwtNo3.append(lotto_json['drwtNo3'])
        drwtNo4.append(lotto_json['drwtNo4'])
        drwtNo5.append(lotto_json['drwtNo5'])
        drwtNo6.append(lotto_json['drwtNo6'])
        bnusNo.append(lotto_json['bnusNo'])
        totSellamnt.append(lotto_json['totSellamnt'])
        drwNoDate.append(lotto_json['drwNoDate'])
        firstAccumamnt.append(lotto_json['firstAccumamnt'])
        firstPrzwnerCo.append(lotto_json['firstPrzwnerCo'])
        firstWinamnt.append(lotto_json['firstWinamnt'])
                            
        lotto_dict = {"추첨일":drwNoDate, "No1":drwtNo1, "No2":drwtNo2, "No3":drwtNo3, "No4":drwtNo4, "No5":drwtNo5, "No6":drwtNo6, 
                      "보너스번호":bnusNo, "총판매금액":totSellamnt, "1등총당첨금":firstAccumamnt, "1등당첨게임수":firstPrzwnerCo,
                      "1등당첨금액":firstWinamnt}
    df_lotto = pd.DataFrame(lotto_dict)    

    return df_lotto

In [18]:
lotto_nums = getLotto(1,932)

100%|██████████| 932/932 [11:16<00:00,  1.38it/s]

In [20]:
lotto_nums.to_excel('/content/drive/My Drive/lotto_1-932.xls')

In [21]:
lotto_nums.to_csv('/content/drive/My Drive/lotto_1-932.csv')

In [24]:
type(lotto_nums)

pandas.core.frame.DataFrame

In [26]:
lotto_nums.columns

Index(['추첨일', 'No1', 'No2', 'No3', 'No4', 'No5', 'No6', '보너스번호', '총판매금액',
       '1등총당첨금', '1등당첨게임수', '1등당첨금액'],
      dtype='object')

In [28]:
six_nums = lotto_nums.loc[:,['No1','No2','No3','No4','No5','No6']]
six_nums

     No1  No2  No3  No4  No5  No6
0     10   23   29   33   37   40
1      9   13   21   25   32   42
2     11   16   19   21   27   31
3     14   27   30   31   40   42
4     16   24   29   40   41   42
..   ...  ...  ...  ...  ...  ...
927    3    4   10   20   28   44
928    7    9   12   15   19   23
929    8   21   25   38   39   44
930   14   15   23   25   35   43
931    1    6   15   36   37   38

[932 rows x 6 columns]

In [32]:
most_frq = six_nums.value_counts
# least_frq =

In [33]:
most_frq

<bound method DataFrame.value_counts of      No1  No2  No3  No4  No5  No6
0     10   23   29   33   37   40
1      9   13   21   25   32   42
2     11   16   19   21   27   31
3     14   27   30   31   40   42
4     16   24   29   40   41   42
..   ...  ...  ...  ...  ...  ...
927    3    4   10   20   28   44
928    7    9   12   15   19   23
929    8   21   25   38   39   44
930   14   15   23   25   35   43
931    1    6   15   36   37   38

[932 rows x 6 columns]>

In [34]:
six_nums.dtypes

No1    int64
No2    int64
No3    int64
No4    int64
No5    int64
No6    int64
dtype: object

In [37]:
num_list = list(lotto_nums['No1'])+list(lotto_nums['No2'])+list(lotto_nums['No3'])+list(lotto_nums['No4'])+list(lotto_nums['No5'])+list(lotto_nums['No6'])

In [38]:
from collections import Counter
count = Counter(num_list)
most_frq = count.most_common(45)

In [39]:
most_frq

[(34, 146),
 (43, 139),
 (27, 137),
 (17, 135),
 (18, 135),
 (12, 133),
 (39, 133),
 (14, 132),
 (40, 132),
 (1, 130),
 (13, 130),
 (20, 130),
 (45, 130),
 (19, 129),
 (33, 129),
 (5, 128),
 (37, 128),
 (10, 127),
 (11, 126),
 (4, 126),
 (15, 126),
 (38, 126),
 (8, 125),
 (26, 125),
 (21, 125),
 (31, 125),
 (3, 124),
 (7, 124),
 (44, 124),
 (24, 123),
 (2, 122),
 (36, 122),
 (16, 121),
 (25, 121),
 (42, 121),
 (6, 118),
 (28, 116),
 (35, 114),
 (41, 113),
 (23, 112),
 (29, 111),
 (30, 111),
 (32, 108),
 (22, 105),
 (9, 95)]

In [42]:
df_most_frq = pd.DataFrame(most_frq)
df_most_frq

     0    1
0   34  146
1   43  139
2   27  137
3   17  135
4   18  135
5   12  133
6   39  133
7   14  132
8   40  132
9    1  130
10  13  130
11  20  130
12  45  130
13  19  129
14  33  129
15   5  128
16  37  128
17  10  127
18  11  126
19   4  126
20  15  126
21  38  126
22   8  125
23  26  125
24  21  125
25  31  125
26   3  124
27   7  124
28  44  124
29  24  123
30   2  122
31  36  122
32  16  121
33  25  121
34  42  121
35   6  118
36  28  116
37  35  114
38  41  113
39  23  112
40  29  111
41  30  111
42  32  108
43  22  105
44   9   95

In [48]:
six_nums.value_counts(sort=False)

No1  No2  No3  No4  No5  No6
1    2    3    9    12   23     1
               14   27   42     1
               15   20   25     1
          4    8    19   38     1
               23   31   34     1
                               ..
25   27   29   36   38   40     1
26   27   28   42   43   45     1
     29   30   33   41   42     1
29   31   35   38   40   44     1
35   36   37   41   44   45     1
Length: 932, dtype: int64

In [50]:
lotto_nums.sort_values(by=['1등당첨금액'], axis=0, ascending=False).head()

           추첨일  No1  No2  No3  ...         총판매금액  1등총당첨금  1등당첨게임수       1등당첨금액
18  2003-04-12    6   30   38  ...  105957818000       0        1  40722959400
24  2003-05-24    2    4   21  ...  120073768000       0        2  24227745300
19  2003-04-19   10   14   18  ...   81056776000       0        1  19352212800
42  2003-09-27    6   31   35  ...   74686296000       0        1  17749630800
14  2003-03-15    3    4   16  ...   73264910000       0        1  17014245000

[5 rows x 12 columns]

In [52]:
lotto_nums.sort_values(by=['1등당첨게임수'], axis=0, ascending=False).head(10)

            추첨일  No1  No2  No3  ...        총판매금액       1등총당첨금  1등당첨게임수      1등당첨금액
545  2013-05-18    8   17   20  ...  56713166000  12178198500       30   405939950
20   2003-04-26    6   12   17  ...  84247142000            0       23   797475400
776  2017-10-21    6   12   17  ...  75534360000  17502828756       21   833468036
756  2017-06-03    6    7   11  ...  71053002000  15536637018       21   739839858
909  2020-05-09    1   11   17  ...  86308857000  19767643875       21   941316375
744  2017-03-11    1    2    3  ...  73575119000  14936459640       20   746822982
380  2010-03-20    1    5   10  ...  47943113000  10749039900       19   565738895
875  2019-09-14    5   16   21  ...  85088368000  20722499264       19  1090657856
873  2019-08-31    1   15   19  ...  82990138000  20108230506       18  1117123917
739  2017-02-04    4    8    9  ...  75186520000  16864736256       18   936929792

[10 rows x 12 columns]